.body_promo{
    position: relative;
    .wrap_header_promo{
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px 0px;

        .title_promo{
            .button_popup_promo{
                background: none;
                color: #ffffff;
            }

            p{
                cursor: pointer;
                margin: 0px;
            }
        }
    }

    .popup_promo{
        position: absolute;
        top: 0;
        background-color: white;
        width: 100%;
    }
}